<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    
</head>
<body>
    <a href="/home/index">Home</a> |
    <a href="/home/UniverStudent">Univer student</a> |
    <a href="/home/Details">Univer student</a> |
    <a href="/employee/create">Create employee</a> |
    <a href="/employee/index">Employee</a>

    <h1>Layout</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
